<ul class="list-group m-t">
    <li class="list-group-item active">Busqueda de coches</li>
    <li class="list-group-item">
        <input #str type="text" class="form-control">
        <button (click)="search(str.value, precio.value, garantia.value, cambio.value)" type="button" class="btn btn-primary">Buscar</button>
        <hr>
        <h6>Precio</h6>
        <select #precio (click)="search(str.value, precio.value, garantia.value, cambio.value)" class="browser-default custom-select">
            <option value="0">Todos</option>
            <option value="16000">Menos de 16000</option>
            <option value="20000">Menos de 20000</option>
        </select>
        <h6>Garantía</h6>
        <select #garantia (click)="search(str.value,precio.value,garantia.value,cambio.value)" class="browser-default custom-select">
            <option value="1">Todos</option>
            <option value="2">Menos de 3 años</option>
            <option value="3">Menos de 7 años</option>
        </select>
        <h6>Cambio</h6>
        <select #cambio (click)="search(str.value,precio.value,garantia.value,cambio.value)" class="browser-default custom-select">
            <option value="">Todos</option>
            <option value="automatico">Automático</option>
            <option value="manual">Manual</option>
        </select>
    </li>
</ul>
