<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="string" #str (change)="search(str.value)" placeholder="escribe aqui">
            </div>
        </div>
        <div class="row">
            <div *ngFor="let artist of artists" class="col-md-3">
                <div class="card">
                    <div>
                        <img class="card-img-top img-thumbnail"
                             src="{{ artist.images | noImage }}"
                             style="width:100%;" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ artist.name }}</h5>
                        <button (click)="verArtista(artist.id)" class="btn-primary">Ver ficha</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
