<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <input type="text" name="string" #str (change)="search(str.value)" placeholder="escribe aqui">
            </div>
        </div>
        <div class="row">
            <div *ngFor="let album of albums" class="col-md-3">
                <div class="card">
                    <img class="card-img-top img-thumbnail" src="{{ album.images[0].url }}" style="width:100%;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ album.name }}</h5>
                        <ul style="display: flex; list-style-type: none; padding: 0;">
                            <li *ngFor="let artista of album.artists" style="margin-right: 5px;">
                                <span class="badge badge-primary">{{ artista.name }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
