.pais_container {
    width:100%;
    padding: 15px;
    margin-bottom:15px;
    color: #333333;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: center;
}

.image-container {
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    height:40px;
}