<article>
    <div class="image-container">
        <img src="{{ car.img }}"  />
    </div>
    <div class="car-info">
        <h3 class="precio">{{car.precio}} €</h3>
        <ul>
            <li>Garantía: {{ car.garantia }}</li>
            <li>Cambio: {{ car.cambio }}</li>
        </ul>
        <p>{{ car.nombre }}</p>
        <p><small>{{ car.id }}</small></p>
    </div>
    <div class="more-info">
        <button (click)="verCar(car.id)" class="btn-primary">Ver ficha</button>
    </div>
</article>
