<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h1>Lista de Top Tracks</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tbody>
                <tr *ngFor="let track of topTracks.tracks">
                    <td>{{track.name}}</td>
                    <td>{{track.album.name}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
